<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Flask App</title>
</head>
<body>
    <h1>Welcome to My Flask Website</h1>
    <p>Hello Students! This is my First Flask Web Application.</p>
    <hr>
    <h2>About Flask</h2>
    <p>Flask is a lightweight Python web framework used to build websites, web applications and APIs.</p>
    <h2>Features</h2>
    <ul>
        <li>Easy to learn</li>
        <li>Fast Development</li>
        <li>Flexible and lightweight</li>
        <li>Supports Templates</li>
        <li>Can connect with databases</li>
    </ul>
    <button onclick="alert('Welcome to Flask!')">
    click me 
</button>
    
</body>
</html>